.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#project {
  background-color: #e2edff;
  padding-top: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
section {
  padding-top: 5rem;
}
